.albums-container {
  background-color: #c8ae7e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albums-sticky-header {
  background-color: #0a020a;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 2;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.albums-header-container {
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.albums-header-title {
  color: #eae3c9;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.album-add-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  position: absolute;
  right: 0px;
}

.albums-add-btn {
  background-color: #354a21;
  color: #fafdf3;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in;
}

.albums-add-btn:hover {
  background-color: #607d3b;
}

.albums-items-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.albums-item {
  background-color: #fafdf3;
  width: 360px;
  height: 420px;
  display: block;
  margin:1.75rem;
  padding: 0.5rem;
	border-radius: 0.25rem;
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  position: relative;
  transition: all 0.2s ease-out;
}

.albums-item:hover {
  background-color: rgba(142, 99, 61, 1);
  color: #fafdf3;
}

.placeholder {
  width: 100%;
  height: 1.5rem;
  margin-bottom: 0.25rem;
}

.albums-cover-art-container {
  width: 100%;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75rem;
}

.albums-cover-art {
  height: 17rem;
  border-radius: 0.15rem;
  outline: 0.15rem solid #d2bd96;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.albums-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.85rem;
  text-align: center;
}

.albums-name {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.albums-details {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1rem;
}

.album-btn-container {
  width: 360px;
  height: 420px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.1s ease-out;
}

.album-btn-container:hover {
  opacity: 1;
}

.album-delete-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.25rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.album-delete-btn {
  color: #fafdf3;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.25rem;
  transition: all 0.05s ease-in;
  opacity: 0.5;
}

.album-delete-btn:hover {
  opacity: 1;
}

.album-edit-btn {
  background-color: #354a21;
  color: #fafdf3;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: all 0.2s ease-out;
}

.album-edit-btn:hover {
  transform: translateY(-8px);
}

.btn {
  background-color: #0a020a;
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}




